body {
    margin: 0;
    height: 100vh;
}


.main {
    background-color: black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.main .calculator-container {
    background-color: white;
    width: 390px;
    border-radius: 20px;
}

.main .calculator-container.dark {
    background-color: #212327;
}

.display-container {
    padding: 111px 43px 40px 20px;
}

.calculator-container #display-summary,
.calculator-container #display-result {
    border: none;
    width: 100%;
    padding: 0;
    text-align: end;
    font-family: "Roboto", sans-serif;
}

.calculator-container #display-summary {
    color: #637381;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}

.calculator-container #display-result {
    color: #1E1E1E;
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-top: 8px;
}

.calculator-container.dark #display-result, .calculator-container.dark #display-summary{
    background-color: #212327;
    color: white;
}

.buttons-container {
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    border-radius: 20px;
    padding: 48px 42px 32px 42px;
}

.dark .buttons-container {
    background-color: #27292E;
    border-color: #27292E;
}

.buttons-container {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.operation-container {
    background-color: #e9e8e8;
}

.dark .operation-container {
    background-color: #3c3c3c;
    border-color: #3c3c3c;
}

.number-container {
    color: #1E1E1E;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.dark .number-container {
    color: white;
}

.theme-container, .operation-container {
    border: 2px solid #e9e8e8;
}

.theme-container {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M10 1C8.81342 2.19491 8.14882 3.81141 8.15176 5.49539C8.15471 7.17936 8.82497 8.79353 10.0157 9.98428C11.2065 11.175 12.8206 11.8453 14.5046 11.8482C16.1886 11.8512 17.8051 11.1866 19 10C19 11.78 18.4722 13.5201 17.4832 15.0001C16.4943 16.4802 15.0887 17.6337 13.4442 18.3149C11.7996 18.9961 9.99002 19.1743 8.24419 18.8271C6.49836 18.4798 4.89472 17.6226 3.63604 16.364C2.37737 15.1053 1.5202 13.5016 1.17294 11.7558C0.82567 10.01 1.0039 8.20038 1.68509 6.55585C2.36628 4.91131 3.51983 3.50571 4.99987 2.51677C6.47991 1.52784 8.21997 1 10 1Z" stroke="url(%23paint0_linear_2_590)" stroke-width="2" stroke-linejoin="round"/><defs><linearGradient id="paint0_linear_2_590" x1="10" y1="1" x2="10" y2="19" gradientUnits="userSpaceOnUse"><stop stop-color="%23ED0E98"/><stop offset="1" stop-color="%23FE5A2D"/></linearGradient></defs></svg>');
    background-repeat: no-repeat;
    background-position: center center;
}

.dark .theme-container {
    border-color: #3c3c3c;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none"><path d="M13 18.3333C14.4145 18.3333 15.7711 17.7714 16.7713 16.7712C17.7715 15.771 18.3334 14.4145 18.3334 13C18.3334 11.5855 17.7715 10.2289 16.7713 9.22875C15.7711 8.22856 14.4145 7.66666 13 7.66666C11.5855 7.66666 10.229 8.22856 9.22878 9.22875C8.22859 10.2289 7.66669 11.5855 7.66669 13C7.66669 14.4145 8.22859 15.771 9.22878 16.7712C10.229 17.7714 11.5855 18.3333 13 18.3333Z" stroke="url(%23paint0_linear_2_696)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M13 1V2.33333" stroke="url(%23paint1_linear_2_696)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M13 23.6667V25" stroke="url(%23paint2_linear_2_696)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M1 13H2.33333" stroke="url(%23paint3_linear_2_696)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M23.6667 13H25" stroke="url(%23paint4_linear_2_696)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M21.4853 4.51465L20.5427 5.45731" stroke="url(%23paint5_linear_2_696)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M5.45731 20.5426L4.51465 21.4853" stroke="url(%23paint6_linear_2_696)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M4.51465 4.51465L5.45731 5.45731" stroke="url(%23paint7_linear_2_696)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M20.5427 20.5426L21.4853 21.4853" stroke="url(%23paint8_linear_2_696)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><defs><linearGradient id="paint0_linear_2_696" x1="13" y1="7.66666" x2="13" y2="18.3333" gradientUnits="userSpaceOnUse"><stop stop-color="%23ED0E98"/><stop offset="1" stop-color="%23FE5A2D"/></linearGradient><linearGradient id="paint1_linear_2_696" x1="13.5" y1="1" x2="13.5" y2="2.33333" gradientUnits="userSpaceOnUse"><stop stop-color="%23ED0E98"/><stop offset="1" stop-color="%23FE5A2D"/></linearGradient><linearGradient id="paint2_linear_2_696" x1="13.5" y1="23.6667" x2="13.5" y2="25" gradientUnits="userSpaceOnUse"><stop stop-color="%23ED0E98"/><stop offset="1" stop-color="%23FE5A2D"/></linearGradient><linearGradient id="paint3_linear_2_696" x1="1.66667" y1="13" x2="1.66667" y2="14" gradientUnits="userSpaceOnUse"><stop stop-color="%23ED0E98"/><stop offset="1" stop-color="%23FE5A2D"/></linearGradient><linearGradient id="paint4_linear_2_696" x1="24.3334" y1="13" x2="24.3334" y2="14" gradientUnits="userSpaceOnUse"><stop stop-color="%23ED0E98"/><stop offset="1" stop-color="%23FE5A2D"/></linearGradient><linearGradient id="paint5_linear_2_696" x1="21.014" y1="4.51465" x2="21.014" y2="5.45731" gradientUnits="userSpaceOnUse"><stop stop-color="%23ED0E98"/><stop offset="1" stop-color="%23FE5A2D"/></linearGradient><linearGradient id="paint6_linear_2_696" x1="4.98598" y1="20.5426" x2="4.98598" y2="21.4853" gradientUnits="userSpaceOnUse"><stop stop-color="%23ED0E98"/><stop offset="1" stop-color="%23FE5A2D"/></linearGradient><linearGradient id="paint7_linear_2_696" x1="4.98598" y1="4.51465" x2="4.98598" y2="5.45731" gradientUnits="userSpaceOnUse"><stop stop-color="%23ED0E98"/><stop offset="1" stop-color="%23FE5A2D"/></linearGradient><linearGradient id="paint8_linear_2_696" x1="21.014" y1="20.5426" x2="21.014" y2="21.4853" gradientUnits="userSpaceOnUse"><stop stop-color="%23ED0E98"/><stop offset="1" stop-color="%23FE5A2D"/></linearGradient></defs></svg>');
}

.theme-container, .operation-container, .number-container {
    border-radius: 32px;
    width: 60px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.result-container {
    border-radius: 32px;
    background: linear-gradient(180deg, #ED0E98 0%, #FE5A2D 100%);
    box-shadow: 0px 8px 24px 2px rgba(247, 60, 87, 0.40);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 4;
    grid-row: 4 / span 2;
    cursor: pointer;
}

.ac-container {
    background: linear-gradient(180deg, #ED0E98 0%, #FE5A2D 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.operation-color {
    stroke: #1E1E1E;
}

.dark .operation-color {
    stroke: white;
}
